.featureHeading {
  font-weight: 600;
  font-size: 30px;
  margin: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  margin: 1rem;
  border: 1px #404040 solid;
}

.descriptionItems{
    margin-left: 1rem;
}
